<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="<%- url_for('/') %>">
        <i class="fas fa-code mr-2"></i><%= config.title %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%- url_for('/archives') %>">
              <i class="fas fa-archive mr-1"></i>Archives
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%- url_for('/tags') %>">
              <i class="fas fa-tags mr-1"></i>Tags
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%- url_for('/about') %>">
              <i class="fas fa-user mr-1"></i>About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%- url_for('/series') %>">
              <i class="fas fa-bookmark mr-1"></i>Series
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
